{% extends "base.html" %}
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">
<head>
<title>hello</title>

<script type="text/javascript">


</script>

</head>
<body>



</body>
</html>
-->


{% block content %}

<div class="jumbotron">
<h1>Hello, it's {{date}}</h1>
<a href='/vis.html' class="btn btn-large btn-success">Now, to this awesome visualization</a>
<a href='/country_Germany' class="btn btn-large btn-success">get json</a>
</div>
{% endblock %}

