{% extends "base.html" %}

{% block datasource %}

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

<script type="text/javascript">
	{%include "vis.js" %}
	{%include "bb_testdrive.js" %}
</script>

{% endblock %}


{% block vis %}
<div id='vis_block'></div>
<div class='jumbotron' id='hc_cities'>
	<h2>Vis for top cities</h2>
</div>
<div class='jumbotron' id='hc_by_country'></div>
<div class='jumbotron' id='d3_cities'></div>
<div class='jumbotron' id='bb_test'></div>
{% endblock %}

